<form id="UI_urlUpload" action="/slice" method="post" >
    <input type="text" name="file" placeholder="file location" />
    <input type="text" name="start" placeholder="start (sec)" />
    <input type="text" name="end" placeholder="end (sec)" />
    <input type="submit" value="Crop Video" />
</form>