<form id="UI_urlUpload" action="/buildURL" method="post" enctype="multipart/form-data">
    <input type="button" id="uploadNew" name="newUrl" value="Add Url" />
    <input type="submit" value="Render Video" />
    <br /><input type="text" name="urls[]" placeholder="http://" />
</form>